# Environment variables file with sensitive information
.env

# Python virtual environment
myenv/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
env/
venv/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# OS specific files
.DS_Store
Thumbs.db


